.main-nav {
  width: auto;
  margin: 0;
  padding: 0;
  
  background-color: #ffffff;
}

.main-nav__wrapper {
  width: auto;
  margin: 0;
  padding: 0;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}



@media (min-width:$tablet-width){
  .main-nav {
    width: 440px;
  }


}


@media (min-width:$desktop-width){
  .main-nav {
    width: 478px;
  }

}
