.example {
	width: 320px;
	margin: 0;
	background-color: #f2f2f2;
}
.example__layout-container {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}
.example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  text-align: left;
  color: #111111;
}
.example__description {
  font-size: 14px;
  font-weight: normal;
  font-family: Arial;
  line-height: 18px;
  text-align: left;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 28px;
  color: #444444;
}
.example__container {
	padding: 0;
	margin: 0;
}
.example__list {
	display: flex;
	justify-content: space-between;
}
.example__item {
	width: 124px;
}



.example__value {
	text-align: center;
	border: 1px solid #CDCDCD;
	min-width: 124px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
}


.example__field {
	font-size: 12px;
	line-height: 12px;
	margin-left: 18px;
	margin-right: 18px;
	display: block;
	padding-left: 16px;
	padding-right: 16px;
	max-width: 86px;
	text-align: center;
	margin-top: -9px;
	z-index: 3;
	background-color: #f2f2f2;
	text-transform: lowercase;
	font-family: sans-serif;
	font-weight: normal;
}
.example__price {
	font-size: 14px;
	line-height: 20px;
	color: #111111;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}
.example__compare {
	margin-top: 20px;
	padding-bottom: 38px;
}
.example__image {
	margin-bottom: 40px;
}
.example__toggle-line   {
	display: flex;
	justify-content: space-around;
}
.example__toggle {
	border: none;
	display: block;
	background-color: #f2f2f2;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	color: #111111;
	font-family: Oswald;
	text-transform: uppercase;
}
.example__button {
	display: block;
	width: 86px;
	height: 14px;
}

@media (min-width:768px){
.example {
	width: 768px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
}
.example__layout-container {
	width: auto;

}
.example__title {
	font-size: 60px;
	line-height: 60px;
}
.example__description {
	font-size: 16px;
	line-height: 24px;
	padding-right: 28px;
}
.example__container {
	display: flex;
	justify-content: space-between;
}
.exemple__group {
	margin-bottom: 236px;
	width: 708px;
	margin-left: auto;
	margin-right: auto;
}

.example__list {
	width: 345px;
}
.example__item {
	width: 162px;
}
.example__value {
	font-size: 16px;
}
.example__field {
	background-color: #ffffff;
}
.example__price {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	text-align: right;
}
.example__price span {
	margin-bottom: 10px;
}
.example__compare {
	background-color: #eaeaea;
	height: 462px;
	width: 768px;
}

.example__image {
	width: 677px;
	height: 499px;
	margin-top: -158px;
}
.example__toggle {
	background-color: #ffffff;
	font-size: 20px;
}

.example__button   {
	width: 429px;
	height: 6px;
	padding-top: 0px;
	margin-top: 8px;
}














}

@media (min-width:1440px){
.example {
	width: 1440px;
	background-color: #f2f2f2;
	margin: 0;
	height: 462px;
	position: relative;
}
.example__layout-container {
	width: 1220px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	display: flex;
	justify-content: space-around;
	position: absolute;
	top: -190px;
	left: 110px;

}
.exemple__group {
	padding: 0;
	margin: 0;
	width: 50%;
}
.example__title {
	width: auto;
	margin-bottom: 76px;
}
.example__description {
	width: 432px;
	margin-bottom: 72px;
}
.example__container {
	width: 366px;
	flex-wrap: wrap;
	display: flex;
}
.example__field {
	background-color: #f2f2f2;
}
.example__price {
	width: auto;
	flex-wrap: no-wrap;
	display: block;
	text-align: left;
	margin-top: 48px;
}
.example__price span {
	padding: 0;
	margin-right: 64px;
}







.example__compare {
	padding: 0;
	margin: 0;
	width: 50%;
	display: block;
	height: auto;
	background: none;


}
.example__image {
	margin: 0;
	padding: 0;
}
.example__toggle-line {
	margin-top: 44px;
}
.example__toggle {
	background: none;
}








}
