.how-it-work {
  width: 280px;
  margin: 0 auto;
  padding-top: 30px;
}

.how-it-work__title {
  font-size: 36px;
  line-height: 60px;
}

.how-it-work__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.how-it-work__item {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}.how-it-work__icon {
  display: block;
  width: 60px;
  height: 60px;
}
