.main-nav {
  width: auto;
  margin: 0;
  padding: 0;
}

.main-nav__wrapper {
  width: auto;
  margin: 0;
  padding: 0;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}



@media (min-width:768px){
  .main-nav {
    width: 440px;
  }


}


@media (min-width:1440px){
  .main-nav {
    width: 478px;
  }

}
