@charset "utf-8";
.site-list {
  width: auto;
  list-style: none;
}
.site-list__item {
  width: auto;
}
.site-list__item a {
  width: auto;
  font-weight: bold;
  display: block;
  text-align: center;
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e6e6e6;
}
